body
  padding-bottom 3em
.footer-wrap
  position fixed
  left 0
  bottom 0
  width 100%
  border-top solid 1px #efefef
  display table
  table-layout fixed
  height 3em
  background-color #ffffff
  a
    display table-cell
    text-align center
    padding 1em 0
    border-right solid 1px #efefef
    &:last-child
      border-right none
